@import "tailwindcss";

#boxshadow {
  box-shadow: inset 5px 5px 7px #b44a4a,
    inset -1px -5px 7px #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Reduced the width of the scrollbar to 1px */
  
}

::-webkit-scrollbar-thumb {
  background-color: #865bfb; 
  border-radius: 10px;
}
